
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>                  <!-- jquery should come before materialize.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
        <script>
            $(document).ready(function(){     //For side nav in mobile screen
                $('.sidenav').sidenav();
            });
            $(document).ready(function(){     //For delete pop up screen
                $('.modal').modal();
            });
            $(document).ready(function(){     //For comment slide down button
                $('com-edit-but').click(function(){
                    $(".com-edit-form").toggleClass("noDisplay");
                });
            });
            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>
    </body>
</html> 