<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/assets/landing.css" type="text/css">
         <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>    
    </head>
    <body>
        <div>
            <div class="row">
                <div class="col s6">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpXn5ruhrxqcC9-cVMPKUruhx6vKJKz4qv0ctk2eRdPaYROYFp&usqp=CAU">
                </div>
                <div class="col s6">
                    <div class="text-box">
                        <h1>BlogTown</h1>
                        <p>For the Love of Writing.</p>
                        <div class="button-box">
                            <a class="waves-effect waves-light btn-large black" href="/register">SignUp</a>
                            <a class="waves-effect waves-light btn-large black login" href="/login">Login</a>
                            <a class="waves-effect waves-dark btn-flat" href="/blogs">Skip For Now</a>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="row Copyright">
                <p>Copyright&#169; 2020 Arnab Poddar</p>
            </div>
        </div>              
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>