<%- include ('partials/header') %>  


<div class="container">
    <div class="auth-form">
        <form action="/login" method="POST">
            <h1>BlogTown</h1>
            <div class="field">
                <label for="username">UserName</label>
                <input type="text" name="username" placeholder="name">
            </div>
            <div class="field"> 
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="submit"> 
                <button><a class="waves-effect waves-light btn-large black">Login!</a></button>
            </div>
        </form>
    </div>
</div>


<%- include ('partials/footer') %> 